<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.fullspeed.polymorphicadssample">

    <!-- ########################## -->
    <!-- ##### must implement ##### -->
    <!-- ########################## -->
    <!-- use Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- to get Connection type -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- ####################### -->
    <!-- ##### as you like ##### -->
    <!-- ####################### -->
    <!-- to get Geo -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- to show overlay view -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ad.BannerAdActivity"/>
        <activity android:name=".ad.InterstitialAdActivity"/>
        <activity android:name=".ad.InfeedAdActivity"/>
        <activity android:name=".ad.PopupAdActivity"/>
        <activity android:name=".ad.SlideInAdActivity"/>
        <activity android:name=".ad.CarouselAdActivity"/>
        <activity android:name=".ad.PInPMovieAdActivity"/>
        <activity android:name=".ad.ForceMovieAdActivity"/>
        <activity android:name=".ad.RectangleMovieAdActivity"/>
        <activity android:name=".ad.DoubleSizeBannerAdActivity"/>
        <activity android:name=".ad.TwinPanelAdActivity"/>

    </application>

</manifest>